<p>Hi <%= @gift_card.name %>,</p>
<p><%= @gift_card.note %></p>
<p>To use your <%= number_to_currency @gift_card.price %> Gift Card enter the following Gift Code during checkout: <%= @gift_card.code %></p>
