<tbody>
  <tr>
    <td colspan='6'>
      <%= order_form.label :gift_code, Spree.t(:gift_code) + ':' %>
      <%= order_form.text_field :gift_code, :size => 10, :value => nil %>
    </td>
  </tr>
</tbody>
