.sort-fields {
  .inline {
    display: inline-block;
    padding-top: 0;
  }

  .field-block {
    > label {
      display: block;
    }

    padding: 10px 0;
  }
}

.gift-card-buttons {
  form {
    display: inline-block;
    margin-right: 10px;
  }
}
